.promedio-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.promedio-final img {
    width: 30%;
    height: 30%;
    object-fit: contain;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .promedio-final img {
        width: 50%;
        height: 50%;
    }
}