@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
}

.app {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.divisor {
    width: 80%;
    position: absolute;
    left: 10%;
    margin: 0;
}

.container {
    height: calc(100vh - 81px);
}

.spinnerContainer {
    height: calc(100vh - 80px - 17px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    width: 64px !important;
    height: 64px !important;
}

@media screen and (max-width: 768px) {
    .container {
        height: calc(100vh - 41px);
    }
}