@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.app-titulo {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.app-titulo p {
    align-self: center;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
}

@media screen and (max-width: 768px) {
    .app-titulo {
        height: 50px;
    }

    .app-titulo p {
        font-size: 30px;
    }
}